body {
  max-height: 100vh;
}

table {
  font-size: 10px;
}

.table td,
.table th {
  padding: .5rem .5rem;
}

.row  {
  margin-left: 0px;
  margin-right: 0px;
}

.fa-rocket {
  padding: 0px 10px;
}

.btn-primary {
  background-color: #222;
}

/* Sidebar Nav */
.sidebar-nav {
  max-height: 100vh;
}

.side-header {
  overflow: auto;
}

.side-title {
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  margin: 25px 20px;
}

.top {
  margin-bottom: 0px;
}

.table td {
  font-family: "Montserrat", sans-serif;
  border-top: none;
  color: white;
  background-color: #222;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.table th {
  font-family: "Montserrat", sans-serif;
  border-top: none;
  color: white;
  background-color: #222;
  font-weight: 900;
  font-size: 12px;
}

.table tr:hover td {
  background: rgba(255, 255, 255, .2);
}

.activeCurr td {
  background: rgba(255, 255, 255, .2);
}

.alts {
  padding-left: 0px;
  padding-right: 0px;
  max-height: calc(100vh - 67px - 80px - 36px);
  overflow: auto;
}

.base-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  padding-top: 18px;
  border-top: 2px solid #fff;
}

.base {
  width: 32%;
  padding: 10px 0px;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff !important;
}

.base:hover {
  color: #222 !important;
  background-color: #fff;
}

.active {
  color: #222 !important;
  background-color: #fff;
}

/* Tradeview Charts */
iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  display:none;
}

.charts {
  height: calc(100vh);
  padding-right: 0;
  padding-left: 0;
}

/* Comment Box */
.moonbox {
  padding-right: 0;
  padding-left: 0;
}

.moonbox > .title {
  background-color: #222;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  padding: 15px;
  margin: 0px;
}

.chatbox {
  padding-right: 0px;
  padding-left: 0px;
  height: calc(100vh);
}

.messages,
.well {
  padding-right: 0px;
  padding-left: 0px;
  height: calc(100vh - 32px - 47px - 28px);
}

.messages {
  padding: 15px;
  padding-top: 0px;
}

.messages {
  flex-shrink: 1;
  overflow: auto;
  /*border-radius: 3px;*/
}

.message {
  padding: 3px 0;
  font-size: 12px;
}
.message .member {
  display: inline-block;
}

.member {
  padding-right: 10px;
  position: relative;
}

.message-form {
  display: flex;
  flex-shrink: 0;
}

.message-form__input {
  flex-grow: 1;
  padding: 5px 15px;
  font-size: 12px;
}
.message-form__button {
  margin: 1px 0px;
  padding: 9px 60px;
}

.form-control {
  font-size: 12px;
  border-radius: 0px;
}

#message-form__input {
  height: 32px;
}

#message-form__button {
  border: none;
  padding: 5px 50px;
  font-size: 12px;
  height: 32px;
  border-radius: 0px;
    /*margin-bottom: 10px;*/
}




